In [1]:
import pandas as pd

In [2]:
diabetes = pd.read_csv('https://github.com/Poorani-27/AI-ML/raw/main/Dataset/Diabetes.csv')
diabetes.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   pregnancies  768 non-null    int64
 1   glucose      768 non-null    int64
 2   diastolic    768 non-null    int64
 3   triceps      768 non-null    int64
 4   insulin      768 non-null    int64
 5   bmi          768 non-null    float64
 6   dpf          768 non-null    float64
 7   age          768 non-null    int64
 8   diabetes     768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
diabetes.columns

Index(['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age', 'diabetes'],
      dtype='object')

In [5]:
y=diabetes['diabetes']
x=diabetes[['pregnancies', 'glucose', 'diastolic', 'triceps', 'insulin', 'bmi',
       'dpf', 'age']]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [7]:
x_test

     pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
242            3      139         54        0        0  25.6  0.402   22
232            1       79         80       25       37  25.4  0.583   22
114            7      160         54       32      175  30.5  0.588   39
294            0      161         50        0        0  21.9  0.254   65
536            0      105         90        0        0  29.6  0.197   46
..           ...      ...        ...      ...      ...   ...    ...  ...
402            5      136         84       41       88  35.0  0.286   35
729            2       92         52        0        0  30.1  0.141   22
651            1      117         60       23      106  33.8  0.466   27
585            1       93         56       11        0  22.5  0.417   22
266            0      138          0        0        0  36.3  0.933   25

[192 rows x 8 columns]

In [8]:
from sklearn.linear_model import LogisticRegression


model = LogisticRegression(max_iter=500)

In [9]:
model.fit(x,y)

LogisticRegression(max_iter=500)

In [10]:
y_predict=model.predict(x_test)
y_predict

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1], dtype=int64)

In [11]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_predict,y_test)
accuracy

0.765625